.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 19px;
  padding-right: 20px;
  padding-left: 20px;

  @media (max-width: $mobile-only) {
    border-top: 1px solid $light-grey-4;

    &:last-child {
      border-bottom: 1px solid $light-grey-4;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 140px;
    width: 324px;
    background-color: $light-grey;
  }
}

.catalog-item__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.catalog-item__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-item__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $black-3;
}

.catalog-item__title {
  margin-top: 21px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-extra;
  width: 64%;

  @media (min-width: $tablet-width) {
    align-self: center;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 34px auto 21px;
  }
}

.catalog-item__image img {
  max-width: none;
}

.catalog-item__options {
  padding-bottom: 10px;
  width: 142px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog-item__option-left {
  text-align: left;
}

.catalog-item__option-right {
  text-align: right;
}

.catalog-item__button {
  width: 100%;

  @media (max-width: $mobile-only) {
    max-width: 280px;
  }
}
