.collaboration {
  font-weight: 400;
  font-family: $font-main;
  color: $dark-grey;
  background-color: $white;

  &--catalog {
    background-color: $light-grey;
  }
}

.collaboration__contacts {
  display: flex;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.collaboration__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-extra;
  color: $black-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 30%;
  }
}

.collaboration__address {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 25%;
  }
}
