.extra-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: $font-extra;
  color: $black-1;
}

.extra-catalog__list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-main;
  list-style: none;
}
