.form__container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    // width: $desktop-width;
    // padding: 0 40px;
    padding: 0;
  }

  &--desktop-only {
    @media (min-width: $desktop-width) {
      width: 1440px;
      margin: 0 auto;
      padding: 0 40px;
    }
  }

  &--program {
    padding: 0 30px;
  }
}

.form__wrapper-information-cat {
  margin-bottom: 75px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;

  &--commentary {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--additional {
    margin-bottom: 14px;
  }

  @media (max-width: $mobile-only) {
    &--program {
      position: relative;
      padding: 20px 0 6px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $light-grey-6;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $light-grey-6;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--information-cat {
      margin-bottom: 43px;
    }

    &--program {
      max-width: 630px;
      margin: 0 auto 42px;
      padding-top: 25px;
      padding-bottom: 10px;
      border: 1px solid $light-grey-2;
    }
  }

  @media (min-width: $desktop-width) {
    &--information-cat {
      margin: 0;
      padding: 0;
      width: 47%;
    }

    &--program {
      margin: 0;
      padding: 24px 0 12px 25px;
      width: 47%;
      height: 100%;
    }
  }
}

.form__fieldset--information-cat .form__input-field {
  appearance: textfield;
}

.form__fieldset--additional .form__row {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;

    &:nth-child(even) {
      padding-left: 44px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;

    &:nth-child(even) {
      padding-left: 0;
    }
  }
}

.form__input-radio,
.form__input-checkbox {
  position: absolute;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__label {
  position: relative;
  margin-right: 18px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;

  &--radio {
    padding: 7px 15px 7px 45px;
    color: $black-3;

    @media (min-width: $tablet-width) {
      padding-left: 59px;
      padding-top: 4px;
      padding-bottom: 6px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 1px;
      top: 0;
      z-index: 1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $light-grey-5;

      @media (min-width: $tablet-width) {
        left: 0;
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      display: none;
      left: 9px;
      top: 9px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $green;

      @media (min-width: $tablet-width) {
        top: 11px;
        left: 10px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &--checkbox {
    padding: 9px 15px 9px 48px;
    color: $black-1;

    &::before {
      position: absolute;
      content: "";
      left: 2px;
      top: 3px;
      z-index: 1;
      width: 30px;
      height: 30px;
      border: 1px solid $light-grey-5;

      @media (min-width: $tablet-width) {
        top: 2px;
        left: 0;
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      display: none;
      left: 8px;
      top: 9px;
      width: 21px;
      height: 10px;
      border: 2px solid $green;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);

      @media (min-width: $tablet-width) {
        top: 15px;
        left: 8px;
        width: 21px;
        height: 10px;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 57px;
      padding-top: 10px;
      padding-bottom: 13px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-radio:checked + .form__label--radio::after,
.form__input-checkbox:checked + .form__label--checkbox::after {
  display: block;
}

.form__wrapper-information-owner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 35px;
  }
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &--additional {
      width: 300px;
    }

    &--program {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {

    &--additional {
      width: 245px;
    }
  }
}

.form__row--email,
.form__row--phone {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.form__input-field {
  width: 100%;
  height: 45px;
  padding: 0 18px;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-extra;
  color: $dark-grey;
  text-transform: uppercase;
  border: 1px solid $light-grey-2;

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-field--email,
.form__input-field--phone {
  padding-right: 45px;
  border: 1px solid $light-grey-5;
}

.form__input-icon-email {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 18px;
  height: 13px;

  @media (min-width: $tablet-width) {
    right: 17px;
    top: 19px;
  }
}

.form__input-icon-phone {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    right: 15px;
    top: 16px;
  }
}

.form__header-line {
  position: relative;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: calc(100vw - 60%);
    right: 0;
    height: 2px;
    background-color: $green;

    @media (min-width: $tablet-width) {
      top: 23px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

.form__legend {
  position: relative;
  z-index: 1;
  padding-right: 20px;
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: initial;
  background-color: $white;

  &--information-owner {
    max-width: 210px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      max-width: 596px;
    }

  }

  &--commentary {
    max-width: 150px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      max-width: 261px;
    }
  }

  &--additional {
    max-width: 170px;

    @media (min-width: $tablet-width) {
      max-width: 290px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -42px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__textarea {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-extra;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  resize: none;
  border: 1px solid $light-grey-2;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font-main;
  text-transform: initial;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__wrapper-additional {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 7px;
  }
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.form__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 16px 0;
    margin-right: 61px;
    width: 45%;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;
    padding-left: 6px;
    padding-right: 0;
    width: 47%;
  }
}
