.form__label {
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;

  &--radio {
    color: $black-3;
  }

  &--checkbox {
    color: $black-1;
  }
}

.form__fieldset {
  border: 0;

  &--program {
    border: 1px solid $light-grey-2;
  }
}

.form__input-field {
  font-size: 16px;
  line-height: 18px;
  font-family: $font-extra;
  color: $dark-grey;
  text-transform: uppercase;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: initial;
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-extra;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: $font-main;
  text-transform: initial;
  text-align: center;
}
