.main-container__program-list {
  margin-bottom: 20px;
}

.main-container__description {
  margin-bottom: 74px;
}

.main-container__main-catalog {
  margin-bottom: 50px;

  @media (max-width: $mobile-only) {
    .container {
      display: contents;
    }
  }
}

.main-container__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: $font-extra;
  color: $black-1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-container__text {
  margin-bottom: 39px;
  max-width: 260px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-extra;
  color: $black-1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    margin-top: 56px;
    margin-bottom: 66px;
    max-width: 420px;
    font-size: 20px;
    line-height: 30px;
  }
}
