.main-footer {
  background-color: $light-grey;
}

.main-footer__collaboration {
  margin-bottom: 39px;
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: $tablet-width;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
