.present {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 66px 50px 25px;
  min-height: 289px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 200px;
    background-size: 708px auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 65px 30px 27px;
    width: 245px;
    min-height: 289px;
  }
}

.present__text {
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 27%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 100%;
  }
}
