.result {
  position: relative;
  font-weight: 400;
  font-family: $font-main;
  color: $dark-grey;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      height: 462px;
      width: 100%;
      background-color: $light-grey-3;
    }
  }
}

.result__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.result__description-block {
  @media (min-width: $desktop-width) {
    z-index: 0;
    width: 500px;
  }
}

.result__numbers-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.result__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-extra;
  color: $black-1;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }
}

.result__text {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-right: 31px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }
}

.result__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.result__item {
  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.result__total {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-extra;
  color: $black-1;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__total-text {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.result__cost {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-extra;
  color: $black-1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 175px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    width: 100%;
    text-align: left;
  }
}

.result__image-block {
  position: relative;
  margin-left: -21px;

  @media (min-width: $tablet-width) {
    z-index: 1;
    margin-left: -24px;
    padding-bottom: 113px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-left: auto;
  }
}

.result__image-wrapper {
  @media (min-width: $tablet-width) {
    max-width: 560px;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
}

.result__image {
  margin-bottom: 59px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.result__image--before {
  position: absolute;
  width: 50%;
  overflow: hidden;
  height: 100%;
  background-color: $light-grey;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
    overflow: hidden;

    img {
      max-width: none;
    }
  }
}

.result__image--after {
  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    right: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}
