.site-list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-extra;
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  margin-left: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
  }
}

.site-list__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: $black-1;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    color: $black-2;
  }

  &--active::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 4px;
    width: 100%;
    background: $green;
  }
}
